{% extends 'base.html.twig' %}

{% block body %}
  <table id="usersTable" class="users-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Username</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Website</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    {% for user in users %}
      <tr data-user-id="{{user.id}}">
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.phone }}</td>
          <td>{{ user.website }}</td>
          <td>
            <a class="js-user-delete" href="#">Delete</a>
            {# <a class="js-user-delete2" href='{{ path('users_delete', {'userId': user.id}) }}'>Delete</a> #}
          </td>
      </tr>
    {% endfor %}
  </table>


  <div id="usersTable2"></div>
{% endblock %}

{% block stylesheets %}
<style>
</style>
{% endblock %}

{% block javascripts %}
  {{ parent() }}

  <script type="text/javascript">

  function deleteUser (userId) {
    return new Promise(function (resolve, reject) {
      // La alternativa sería llamar a la action del controlador usando FOSJsRoutingBundle
      $.ajax({
        url: 'https://jsonplaceholder.typicode.com/users/' + userId,
        type: 'delete',
        success: function (response) {
          resolve(userId)
        }
      })
    });
  }

  $(document).ready(function () {
    var table = $('#usersTable').DataTable();

    $('#usersTable').on('click', '.js-user-delete', function () {
      var row = $(this).closest('tr');

      deleteUser(row.data('user-id'))
        .then(function (userId) {
          row.remove();
        });
    });
  });

  /*
  import Vue from '/node_modules/vue/dist/vue';
  import UsersTable from '/vue/components/UsersTable';

  new Vue({
    el: '#usersTable2',
    render: function (h) {
      return h(UsersTable, props: { users: {{ users|json_encode|raw }} });
    }
  });
  */

  </script>
{% endblock %}
