{% extends 'base.html.twig' %}

{% block body %}
  <table id="usersTable" class="users-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Website</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    {% for user in users %}
      <tr>
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.website }}</td>
          <td>...</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}

{% block stylesheets %}
<style>
</style>
{% endblock %}

{% block javascripts %}
  {{ parent() }}

  <script>
  $(document).ready( function () {
      $('#usersTable').DataTable();
  });
  </script>
{% endblock %}
